{
    "singleQuote": false,
    "tabWidth": 2,
    "arrowParens": "always",
    "printWidth": 160,
    "semi": true,
    "bracketSpacing": false,
    "bracketSameLine": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css"

}